---
interface Props {
    bgimage: string;
}
const { bgimage } = Astro.props;
---

<section  style={`background-image: url('${bgimage}')`}>
    <h2>Про нас</h2>
    <div> 
        <div> 
            <h3>Наша Історія</h3>
            <p>Arcada Hotel був заснований у 2005 році з метою створення унікального місця для відпочинку та розваг у Львові. Ми поєднуємо сучасний комфорт з традиційною гостинністю, щоб забезпечити нашим гостям незабутній досвід.</p>
        </div>
        <div>
            <h3>Концепція закладу</h3>
            <p>Ми прагнемо створити атмосферу, де кожен гість відчуває себе особливим. Наші апартаменти обладнані всім необхідним для комфортного проживання, а ресторан пропонує страви, які задовольнять навіть найвибагливіших гурманів.</p>
        </div>
        <div>
            <h3>Наш персонал</h3>
            <p>Наша команда професіоналів з усією сердечністю прагне зробити ваш перебування у Arcada Hotel незабутнім. Ми гордимося нашим досвідом та прагненням до ідеального обслуговування.</p>
        </div>
    </div>
</section>