---

---
<section>
    <div>
        <form id="form">

            <fieldset>
                <legend>Залиште свої запитання</legend>
                <label for="name">Ваше ім'я:</label>
                <input type="text" id="name" name="name" minlength="2" required, placeholder="Мінімум 2 символа">

                <label for="tel">Ваш телефон:</label>
                <input type="tel" id="tel" name="tel" pattern="\+380\d{9}" required, placeholder="+380XXXXXXXXX">

                <label for="message">Ваше запитання:</label>
                <textarea id="message" name="message" rows="4" minlength="10" required></textarea>

                <button type="submit">Надіслати</button>

        </form>

    </div>
    
</section>