---
import CardItem from './CardItem.astro';
const { items } = Astro.props;
interface CardProps {
    cardTitle: string;
    cardDescription: string;
    cardImage: string;
    cardButtonText: string;
}
interface Props {
    items: CardProps[];
}
 
---
<section >
    {items.map((item) => (
        <CardItem
            cardTitle={item.cardTitle}
            cardDescription={item.cardDescription}
            cardImage={item.cardImage}
            cardButtonText={item.cardButtonText}
        />
    ))}
</section>