---
const { cardTitle, cardDescription, cardImage, cardButtonText } = Astro.props;
---



<div style={`background-image: url('${cardImage}')`}>
    <h2>{cardTitle}</h2>
    <div><p>{cardDescription}</p></div>
    <button>{cardButtonText}</button>
</div>