<section>
    <h2>Контакти</h2>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2217.8182697250036!2d24.033872111601543!3d49.84363737136376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6cb42542b5%3A0xc754f3c29bd47a28!2z0LLRg9C70LjRhtGPINCS0L7Qu9C-0LTQuNC80LjRgNCwINCS0LjQvdC90LjRh9C10L3QutCwLCAyNiwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1780166739808!5m2!1suk!2sua" class="w-full aspect-video min-h-[400px] rounded-2xl border border-slate-200 shadow-xl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
        <div>
            <img src="phone-icon" alt="Phone" />
            <p> Телефон: +38 (067) 123-45-67</p>    
        </div>
        <div>
            <img src="email-icon" alt="Email" />
            <p>  Емейл: ArcadaHotel@gmail.com</p>
        </div>
        <div>
            <img src="clock-icon" alt="Clock" />
            <p>Години роботи: 24/7</p>
        </div>
    </div>
</section>