<footer>
    <div> 
        <div>
            <img src="logo" alt="Arcada Hotel Logo" />
            <p>Arcada Hotel</p>
        </div>
        <div>
            <p> Не просто готель, а місце для справжнього релаксу</p>
        </div>
        <div>
            <p> Телефон +38 (067) 123-45-67
                Адрес - вул. Володимира Винниченка, 26, Львів
            </p>
        </div>
    </div>
    <div>
        <p>Це навчальний проект для портфоліо. Усі дані вигадані, співпадіння випадкові</p>
    </div>
</footer>