<header class="sticky top-0 z-30">
    <nav class="flex p-4 bg-gray-800 text-white w-100%">
        <button>
            <a href="/">Меню</a> 
        </button>
        <button id="switchLang">
            EN
        </button>
        <a href="/" class="flex item-center gap-2">
            <img src="logo" alt="Logo" />
            <h1>Arcada Hotel</h1>
        </a>
        <span> Телефон: +38 (044) 123-45-67 </span>
        <span> Емейл: arcada@ua.com</span>
    </nav>
</header>