<section id="hero" class="grid grid-cols-3 1fr 2fr 1rfr">
    <div>
        <a href="https://maps.app.goo.gl/M3DvP4njF5xMrqoo9" target="_blank"> Адрес - вул. Володимира Винниченка, 26. Львів</a>
    </div>
    <div>
        <h1>Ласкаво просимо до Arcada Hotel!</h1>
        <p>Ваш ідеальний вибір для комфортного та незабутнього відпочинку у Львові.</p>
        <a href="/Hotel" class="btn">Забронювати номер</a>

    </div>
    <div>
        <p>Слідкуйте за нами тут</p>
        <a href="https://www.instagram.com/" target="_blank">"<img src="instagram-logo" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/" target="_blank">"<img src="facebook-logo" alt="Facebook" />
        </a>
    </div>
</section>