---
import  Adress from './Adress.astro';   
import SocialMedia from './SocialMedia.astro';
interface Props {
    title: string;
    description: string;
    heroButtontext: string;
    heroButtonLink: string;
    showAddress: boolean;
    showSocialMedia: boolean;
}
const { showSocialMedia = false, showAddress = false, title, description, heroButtontext, heroButtonLink } = Astro.props;
---



<section id="hero" class="grid grid-cols-3 1fr 2fr 1rfr">
    {showAddress && <Adress />}
    <div>
        <h1>{title}</h1>
        <p>{description}</p>
        <a href={heroButtonLink} class="btn">{heroButtontext}</a>
    </div>
     {showSocialMedia && <SocialMedia />}

</section>