---
import familyRoom from "../assets/images/familyRoom.webp";
import luxuryRoom from "../assets/images/luxRoom.webp";
import halfLuxuryRoom from "../assets/images/halfLuxRoom.webp";
import standardRoom from "../assets/images/standartRoom.webp";
import HotelRoomItem from "./HotelRoomItem.astro"
---
<section>
    <h2>Доступні апартаменти</h2>
    <div> 
        <HotelRoomItem roomType="Стандартний номер" roomDescription=" " bgimage={standardRoom.src} roomPrice="1600 грн/ніч" />
        <HotelRoomItem roomType="Люкс" roomDescription=" " bgimage={luxuryRoom.src} roomPrice="2500 грн/ніч" />
        <HotelRoomItem roomType="НапівЛюкс" roomDescription=" " bgimage={halfLuxuryRoom.src} roomPrice="2000 грн/ніч" />
        <HotelRoomItem roomType="Сімейний номер" roomDescription=" " bgimage={familyRoom.src} roomPrice="3000 грн/ніч" />
    </div>    
</section>