---

import HotelRoomItem from "./HotelRoomItem.astro"
---
<section>
    <h2>Доступні апартаменти</h2>
    <div> 
        <HotelRoomItem roomType="Стандартний номер" roomDescription=" " bgimage="/images/standard-room.webp" roomPrice="1600 грн/ніч" />
        <HotelRoomItem roomType="Люкс" roomDescription=" " bgimage="/images/luxury-room.webp" roomPrice="2500 грн/ніч" />
        <HotelRoomItem roomType="НапівЛюкс" roomDescription=" " bgimage="/images/semi-luxury-room.webp" roomPrice="2000 грн/ніч" />
        <HotelRoomItem roomType="Сімейний номер" roomDescription=" " bgimage="/images/family-room.webp" roomPrice="3000 грн/ніч" />
    </div>    
</section>