---
import CarouselItem from "./CarouselItem.astro"
import Carousel1 from "../assets/images/carouselCard1.webp";
import Carousel2 from "../assets/images/carouselCard2.webp";
import Carousel3 from "../assets/images/carouselCard3.webp";
---
<section>
    <h2> Наша інфраструктура </h2>
    <CarouselItem CarouselTitle="Готель" slogan="Там, де починається ваша львівська історія" bgimage={Carousel1.src} link="/Hotel" buttonText="Переглянути номери" />
    <CarouselItem CarouselTitle="Ресторан" slogan="Смак Львова в кожній страві" bgimage={Carousel2.src} link="/Restaurant" buttonText="Переглянути меню" />
    <CarouselItem CarouselTitle="Конференц зали" slogan="Ідеальне місце для бізнес зустрічей та заходів" bgimage={Carousel3.src} link="/ConferenceHall" buttonText="Переглянути доступні кімнати"/>
</section>