---
import CarouselItem from "./CarouselItem.astro"
---
<section>
    <h2> Наша інфраструктура </h2>
    <CarouselItem CarouselTitle="Готель" slogan="Там, де починається ваша львівська історія" bgimage="/images/hotel.webp" link="/Hotel" buttonText="Переглянути номери" />
    <CarouselItem CarouselTitle="Ресторан" slogan="Смак Львова в кожній страві" bgimage="/images/restaurant.webp" link="/Restaurant" buttonText="Переглянути меню" />
    <CarouselItem CarouselTitle="Конференц зали" slogan="Ідеальне місце для бізнес зустрічей та заходів" bgimage="/images/conference.webp" link="/ConferenceHall" buttonText="Переглянути доступні кімнати"/>
</section>