<div>
    <p>Слідкуйте за нами тут:</p>
    <a href="https://www.instagram.com/" target="_blank">"<img src="instagram-logo" alt="Instagram" />
    </a>
    <a href="https://www.facebook.com/" target="_blank">"<img src="facebook-logo" alt="Facebook" />
    </a>
</div>