---
import '../assets/styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Arcada Hotel - Готель у серці Львова. Відкрийте для себе комфорт та гостинність в нашому готелі, розташованому в самому центрі Львова. Забронюйте номер вже сьогодні!" />
		<title>Arcada Hotel - Готель у серці Львова</title>
	</head>
	<body>
		<slot />
	</body>
</html>
